In [1]:
import pandas as pd

df = pd.read_csv('sales.csv')
display(df.head())

,date,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,cogs,gross margin percentage,gross income,Rating,check_total
0,2021-01-01,750-67-8428,A,Banglore,Member,Female,Health And Beauty,74.69,7,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,548.9715
1,2021-01-04,226-31-3081,C,Vizag,Normal,Female,Electronic Accessories,15.28,5,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,80.2200
2,2021-01-05,631-41-3108,A,Banglore,Normal,Male,Home And Lifestyle,46.33,7,16.2155,340.5255,13:23,Credit Card,324.31,4.761905,16.2155,7.4,340.5255
3,2021-01-06,123-19-1176,A,Banglore,Member,Male,Health And Beauty,58.22,8,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,489.0480
4,2021-01-07,373-73-7910,A,Banglore,Normal,Male,Sports And Travel,86.31,7,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,634.3785

In [2]:
#T TEST TWO-SAMPLE

from scipy.stats import ttest_ind

member_spending = df[df['Customer type']== 'Member']['Total']
normal_spending = df[df['Customer type'] == 'Normal']['Total']

t_stat, p_value = ttest_ind(member_spending, normal_spending)

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 0.6215268724928228
P-value: 0.5343949596143621

# **So here the null hypothesis : there is no significant difference between average spending of Member and Normal customer.**

# null hypothesis is accepted. As p-value > 0.05

In [3]:
x = df.groupby('Customer type')['Total'].mean()
display(x)

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

In [4]:
x = df.groupby('City')['gross income'].mean()
display(x)

City
Banglore     14.874001
Hyderabad    15.232024
Vizag        16.052367
Name: gross income, dtype: float64

In [6]:
#ANOVA F-TEST

from scipy.stats import f_oneway

city_a = df[df['City'] == 'Vizag']['gross income']
city_b = df[df['City'] == 'Banglore']['gross income']
city_c = df[df['City'] == 'Hyderabad']['gross income']

f_stats,p_value = f_oneway(city_a,city_b,city_c)

print(f'f-statistics: {f_stats}')
print(f'p-value: {p_value}')

f-statistics: 0.8845828327760514
p-value: 0.413210174367147

# **NULL HYPOTHESIS is: there is no significant difference between average gross income across the 3 cities.**


now here p-value > 0.05 so null hypothesis is accepted.
i.e even thought there is some difference in gross income (i.e vizag has highest gross income) it's statistically not significant.

In [10]:
# PEARSON CORRELATION
from scipy.stats import pearsonr

correlation, p_value = pearsonr(df['Rating'],df['Total'])

print(f'correlation: {correlation}')
print(f'p-value: {p_value}')

if p_value < 0.05:
    print("Statistically significant correlation between Total and Rating.")
else:
    print("No statistically significant correlation between Total and Rating.")

correlation: -0.03644170499701835
p-value: 0.24959690975439003
No statistically significant correlation between Total and Rating.

# null hypothesis : there is no significant difference between total money spent and the ratings given .
p-value > 0.05 , so null hypothesis is accepted.

In [12]:
#CHI-SQUARED TEST

import pandas as pd
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(df['Gender'], df['Product line'])
chi2_stat, p_val, dof, expected = chi2_contingency(contingency_table)

print(f'Chi-squared statistic: {chi2_stat:.4f}')
print(f'p-value: {p_val:.4f}')

if p_val < 0.05:
    print("Product line preference is dependent on Gender.")
else:
    print("Product line preference is independent of Gender.")

Chi-squared statistic: 5.7445
p-value: 0.3319
Product line preference is independent of Gender.